* {
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    background: url(./img/pic_1.jpeg) no-repeat center center /cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 250px;
    background-color: aliceblue;
    border-radius: 20px;

    box-shadow: 0 0 3px;
}

#timer {
    font-size: 70px;
    text-align: center;
    margin: 0px auto;
    padding: 35px
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;

}

button i {
    /* Ensure every button has the same size */
    width: 30px;
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    border-radius: 10%;
}


#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}